@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #fd4349e8 21.43%,
    #fd4349e8 50.63%,
    #fd4349e8 100%,
    #fd4349e8 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #fd4349a9.43%,
    #fd4349ab 50.63%,
    #fd43498f 100%,
    #fd4349a4 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #fd4349af 21.43%,
    #fd4349af 50.63%,
    #fd4348 100%,
    #fd4348 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

.App{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
 
}


img{
  margin: 0;
  width: 100%;
  margin-top: -5px;
}



@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#fd4348] to-[#fd4348] font-bold font-primary hover:from-[#12180f] hover:to-[#12180f];
  }

  .mb-max{
    @apply h-[800px]
  }

  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center flex-col mt-[120px];
  }
}